/* 

font-family: 'Lexend Deca', sans-serif;

font-family: 'Big Shoulders Display', cursive;

*/

:root {
        
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%); 
       
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: var(--very-light-gray-background-headings-buttons);

}

.container {
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 2rem 0;
}

.card {
    padding: 2rem;
}

#sedans {
    background-color: var(--bright-orange);
}

#suvs {
    background-color: var(--dark-cyan);
}

#luxury {
    background-color: var(--very-dark-cyan);
}

img {
    padding-bottom: 1rem;
}

h1 {
    color: var(--very-light-gray-background-headings-buttons);

    font-family: 'Big Shoulders Display', cursive;

    padding-bottom: 1rem;
}

p {
    color: var(--transparent-white-paragraphs);
    line-height: 3ch;
    padding-bottom: 4rem;
}

button {
    background-color: var(--very-light-gray-background-headings-buttons);
    border-radius: 1rem;
    border-style: none;

    font-family: 'Lexend Deca', sans-serif;
    padding: .5rem 1rem;
}

#sedans button {
    color: var(--bright-orange);
}

#sedans button:hover {
    background-color: var(--bright-orange);
    color: var(--very-light-gray-background-headings-buttons);
    border: 2px solid var(--very-light-gray-background-headings-buttons);
    cursor: pointer;
}

#suvs button {
    color: var(--dark-cyan); 
}

#suvs button:hover {
    background-color: var(--dark-cyan); 
    color: var(--very-light-gray-background-headings-buttons);
    border: 2px solid var(--very-light-gray-background-headings-buttons);
    cursor: pointer;
}

#luxury button {
    color: var(--very-dark-cyan);
}

#luxury button:hover {
    background-color: var(--very-dark-cyan);
    color: var(--very-light-gray-background-headings-buttons);
    border: 2px solid var(--very-light-gray-background-headings-buttons); 
    cursor: pointer;
}

@media (min-width: 600px) {

    /* .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }   

    .card {
        width: 330px;
    } */

}