:root {
        
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%); 
       
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: var(--very-light-gray-background-headings-buttons);
}

h1 {
    padding-top: 1rem;
    color: var(--very-light-gray-background-headings-buttons);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2rem;
}

p {
    color: var(--transparent-white-paragraphs);
    line-height: 3ch;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 12.25rem;
}

/* COMPOSITION */

.container-margin {
    margin: 4rem 2rem;
}

.card-padding {
    padding: 3rem 3rem;
}

/* UTILITY */

.sedans-bg-color {
    background-color: var(--bright-orange);
}

.suvs-bg-color {
    background-color: var(--dark-cyan);
}

.luxury-bg-color {
    background-color: var(--very-dark-cyan);
}

.border-radius-first {
    border-radius: .5rem .5rem 0 0;
}

.border-radius-last {
    border-radius: 0 0 .5rem .5rem;
}

/* BLOCK */



/* EXCEPTIONS */

a {
    width: 100%;
    padding: .75rem 1.75rem;
    border-radius: 1.25rem;
    background-color: var(--very-light-gray-background-headings-buttons);
    text-decoration: none;
}

.sedans a {
    color: var(--bright-orange);
}

.suvs a {
    color: var(--dark-cyan);
}

.luxury a {
    color: var(--very-dark-cyan);
}

a:hover {
    border: solid white .05rem;
    color: var(--very-light-gray-background-headings-buttons);
}

.sedans a:hover {
    background-color: var(--bright-orange);
}

.suvs a:hover {
    background-color: var(--dark-cyan);
}

.luxury a:hover {
    background-color: var(--very-dark-cyan);
}

/*   */

@media (min-width: 600px) {

    body {
        font-size: 1.1em;
    }

    h1 {
        padding-top: 2rem;
    }

    p {
        padding-top: 1.75rem;
        padding-bottom: 7rem;
        width: 13rem;
    }

    .container {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
    
    .container-margin {
        margin: 0 0;
    }

    .card {
        width: 300px;
    }

    .border-radius-first {
        border-radius: .5rem 0 0 .5rem;
    }
    
    .border-radius-last {
        border-radius: 0 .5rem .5rem 0;
    }

}

