:root {
        
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%); 
       
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: var(--very-light-gray-background-headings-buttons);
}

h1 {
    padding-top: 1rem;
    color: var(--very-light-gray-background-headings-buttons);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2rem;
}

p {
    color: var(--transparent-white-paragraphs);
    line-height: 3ch;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 12rem;
}

button {
    background-color: var(--very-light-gray-background-headings-buttons);
    font-family: 'Lexend Deca', sans-serif;
    /* text-decoration: none; */
    cursor: pointer;
    border-style: none;
}

/* COMPOSITION */

.container-margin {
    margin: 4rem 2rem;
}

.card-padding {
    padding: 3rem 3rem;
}

.button-border-radius {
    border-radius: 1rem;
}

.button-padding {
    padding: .5rem 1rem;
}

/* UTILITY */

.sedans-bg-color {
    background-color: var(--bright-orange);
}

.suvs-bg-color {
    background-color: var(--dark-cyan);
}

.luxury-bg-color {
    background-color: var(--very-dark-cyan);
}

.sedans-button-color {
    color: var(--bright-orange);
}

.suvs-button-color {
    color: var(--dark-cyan); 
}

.luxury-button-color {
    color: var(--very-dark-cyan);
}

/* .button-text-decoration {
    text-decoration: none;
} */

/* BLOCK */



/* EXCEPTIONS */

.sedans button:active {
    background-color: var(--bright-orange);
    color: var(--very-light-gray-background-headings-buttons);
    border: 2px solid var(--very-light-gray-background-headings-buttons);
}

/* .sedans button:hover {
    background-color: var(--bright-orange);
    color: var(--very-light-gray-background-headings-buttons);
    border: 2px solid var(--very-light-gray-background-headings-buttons);
} */

/* .suvs button:hover { 
    background-color: var(--dark-cyan); 
    color: var(--very-light-gray-background-headings-buttons);
    border: 2px solid var(--very-light-gray-background-headings-buttons);
}  */

.suvs button:active { 
    background-color: var(--dark-cyan); 
    color: var(--very-light-gray-background-headings-buttons);
    border: 2px solid var(--very-light-gray-background-headings-buttons);
} 

/* .luxury button:hover {
    background-color: var(--very-dark-cyan);
    color: var(--very-light-gray-background-headings-buttons);
    border: 2px solid var(--very-light-gray-background-headings-buttons); 
}  */

.luxury button:active {
    background-color: var(--very-dark-cyan);
    color: var(--very-light-gray-background-headings-buttons);
    border: 2px solid var(--very-light-gray-background-headings-buttons); 
} 

/*   */

@media (min-width: 600px) {

    .container {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
    
    .container-margin {
        margin: 0 0;
    }

    .card {
        width: 300px;
    }

}

